<div class="container">
  <h1 class="text-center">Crear Evento</h1>

  <div class="row">
    <!-- Validación ID del Calendario -->
    <div class="col-md-12 col-sm-12 mb-3">
      <label for="calendarId">ID del Calendario:</label>
      <input
        id="calendarId"
        class="form-control"
        type="text"
        placeholder="ID del calendario"
        [(ngModel)]="calendarId"
        [ngClass]="{
          'is-invalid': !isValidCalendarId(calendarId) && formSubmitted
        }"
      />
      <div
        *ngIf="!isValidCalendarId(calendarId) && formSubmitted"
        class="invalid-feedback"
      >
        Este campo es obligatorio.
      </div>
    </div>

    <!-- Fecha del Evento -->
    <div class="col-md-12 col-sm-12 mb-3">
      <label for="eventDate">Fecha del Evento:</label>
      <input
        id="eventDate"
        class="form-control"
        type="date"
        [(ngModel)]="eventDate"
        name="eventDate"
        [ngClass]="{ 'is-invalid': !isValidDate(eventDate) && formSubmitted }"
        required
      />
      <div
        *ngIf="!isValidDate(eventDate) && formSubmitted"
        class="invalid-feedback"
      >
        Este campo es obligatorio.
      </div>
    </div>

    <!-- Hora de Inicio -->
    <div class="col-md-12 col-sm-12 mb-3">
      <label for="startTime">Hora de Inicio:</label>
      <input
        id="startTime"
        class="form-control"
        type="text"
        placeholder="Ejemplo: 18:00"
        [(ngModel)]="startTime"
        name="startTime"
        required
        (input)="validateTime(startTime)"
        [ngClass]="{ 'is-invalid': !isValidTime(startTime) && formSubmitted }"
      />
      <div
        *ngIf="!isValidTime(startTime) && formSubmitted"
        class="invalid-feedback"
      >
        El formato de hora debe ser HH:mm.
      </div>
    </div>

    <!-- Duración del Evento -->
    <div class="col-md-12 col-sm-12 mb-3">
      <label for="eventDuration">Duración del Evento (minutos):</label>
      <input
        id="eventDuration"
        class="form-control"
        type="number"
        placeholder="Duración en minutos"
        [(ngModel)]="eventDuration"
        name="eventDuration"
        required
        min="1"
        [ngClass]="{ 'is-invalid': !eventDuration && formSubmitted }"
      />
      <div *ngIf="!eventDuration && formSubmitted" class="invalid-feedback">
        Este campo es obligatorio.
      </div>
    </div>

    <!-- Selector de Zona Horaria -->
    <div class="col-md-12 col-sm-12 mb-3">
      <label for="selectedTimezone">Seleccionar Zona Horaria:</label>
      <select
        id="selectedTimezone"
        class="form-control"
        [(ngModel)]="selectedTimezone"
        required
      >
        <option *ngFor="let tz of timezones" [value]="tz">{{ tz }}</option>
      </select>
    </div>

    <!-- Títulos de eventos dinámicos -->
    <div
      class="col-md-12 col-sm-12 mb-3"
      *ngFor="let title of eventTitles; let i = index"
    >
      <label for="eventTitle{{ i }}">Título del Evento {{ i + 1 }}:</label>
      <div class="input-group">
        <input
          id="eventTitle{{ i }}"
          class="form-control"
          [(ngModel)]="eventTitles[i]"
          type="text"
          placeholder="Título del evento"
          required
          [ngClass]="{ 'is-invalid': !title && formSubmitted }"
        />
        <div class="input-group-append">
          <button
            *ngIf="i === eventTitles.length - 1"
            class="btn btn-success"
            type="button"
            (click)="addTitle()"
          >
            <i class="fas fa-plus"></i>
          </button>
          <button
            *ngIf="i > 0"
            class="btn btn-danger"
            type="button"
            (click)="removeTitle(i)"
          >
            <i class="fas fa-trash"></i>
          </button>
        </div>
      </div>
      <div *ngIf="!title && formSubmitted" class="invalid-feedback">
        Este campo es obligatorio.
      </div>
    </div>
  </div>

  <div class="text-center">
    <!-- Botón para crear el evento -->
    <button class="btn btn-primary mt-3" (click)="createEvent()">
      Crear Evento
    </button>
    <button class="btn btn-warning mt-3 ml-2" (click)="resetForm()">
      Limpiar
    </button>
  </div>
</div>
