<div class="container">
  <h1 class="text-center">Create Events Google Calendar</h1>

  <div class="row">
    <!-- Calendar ID Field -->
    <div class="col-md-12 col-sm-12 mb-3">
      <label for="calendarId">Calendar ID:</label>
      <input
        id="calendarId"
        class="form-control"
        type="text"
        placeholder="Calendar ID"
        [(ngModel)]="calendarId"
        [ngClass]="{
          'is-invalid': !isValidCalendarId(calendarId) && formSubmitted
        }"
      />
      <div
        *ngIf="!isValidCalendarId(calendarId) && formSubmitted"
        class="invalid-feedback"
      >
        This field is required.
      </div>
    </div>

    <!-- Event Date Field -->
    <div class="col-md-12 col-sm-12 mb-3">
      <label for="eventDate">Event Date:</label>
      <input
        id="eventDate"
        class="form-control"
        type="date"
        [(ngModel)]="eventDate"
        name="eventDate"
        [ngClass]="{ 'is-invalid': !isValidDate(eventDate) && formSubmitted }"
        required
      />
      <div
        *ngIf="!isValidDate(eventDate) && formSubmitted"
        class="invalid-feedback"
      >
        This field is required.
      </div>
    </div>

    <!-- Start Time Fields (Hours and Minutes) -->
    <div class="col-md-12 col-sm-12 mb-3">
      <label for="startTimeHour">Start Time Hour:</label>
      <input
        id="startTimeHour"
        class="form-control"
        type="number"
        placeholder="Hour"
        [(ngModel)]="startTimeHour"
        min="0"
        max="23"
        required
        [ngClass]="{
          'is-invalid':
            !isValidTime(startTimeHour, startTimeMinute) && formSubmitted
        }"
      />
    </div>

    <div class="col-md-12 col-sm-12 mb-3">
      <label for="startTimeMinute">Start Time Minute:</label>
      <input
        id="startTimeMinute"
        class="form-control"
        type="number"
        placeholder="Minute"
        [(ngModel)]="startTimeMinute"
        min="0"
        max="59"
        required
        [ngClass]="{
          'is-invalid':
            !isValidTime(startTimeHour, startTimeMinute) && formSubmitted
        }"
      />
    </div>

    <!-- Event Duration Field -->
    <div class="col-md-12 col-sm-12 mb-3">
      <label for="eventDuration">Event Duration (minutes):</label>
      <input
        id="eventDuration"
        class="form-control"
        type="number"
        placeholder="Duration in minutes"
        [(ngModel)]="eventDuration"
        name="eventDuration"
        required
        min="1"
        [ngClass]="{ 'is-invalid': !eventDuration && formSubmitted }"
      />
      <div *ngIf="!eventDuration && formSubmitted" class="invalid-feedback">
        This field is required.
      </div>
    </div>

    <!-- Event Titles -->
    <div
      class="col-md-12 col-sm-12 mb-3"
      *ngFor="let title of eventTitles; let i = index; trackBy: trackByIndex"
    >
      <label for="eventTitle{{ i }}">Event Title {{ i + 1 }}:</label>
      <div class="input-group">
        <input
          id="eventTitle{{ i }}"
          class="form-control"
          [(ngModel)]="eventTitles[i]"
          type="text"
          placeholder="Event title"
          required
          [ngClass]="{ 'is-invalid': !title && formSubmitted }"
        />
        <div class="input-group-append">
          <button
            *ngIf="i === eventTitles.length - 1"
            class="btn btn-success"
            type="button"
            (click)="addTitle()"
          >
            <i class="fas fa-plus"></i>
          </button>
          <button
            *ngIf="i > 0"
            class="btn btn-danger"
            type="button"
            (click)="removeTitle(i)"
          >
            <i class="fas fa-trash"></i>
          </button>
        </div>
      </div>
      <div *ngIf="!title && formSubmitted" class="invalid-feedback">
        This field is required.
      </div>
    </div>
  </div>

  <div class="text-center">
    <!-- Button to generate the event creation script -->
    <button class="btn btn-primary mt-3" (click)="generateEventScript()">
      Generate Event Script
    </button>
    <button class="btn btn-warning mt-3 ml-2" (click)="resetForm()">
      Reset
    </button>
  </div>

  <!-- Display Generated Script -->
  <div *ngIf="generatedScript" class="mt-4">
    <h3>Generated Script</h3>
    <textarea
      id="generatedScript"
      class="form-control"
      rows="10"
      readonly
      [value]="generatedScript"
    ></textarea>
    <button class="btn btn-info mt-3" (click)="copyToClipboard()">
      Copy to Clipboard
    </button>
  </div>
</div>
